.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
  background-image: url('../../../assets/hero.jpeg');
  margin: 0 0 1rem 0;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.3rem;
  width: 80%;
  margin: 0 auto;
}
