<mat-card class="card-container">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{ heroResult.name }}</mat-card-title>
      <mat-card-subtitle>{{ heroResult.id }}</mat-card-subtitle>
      <app-img
        [image]="heroResult.thumbnail | formatImg"
        [alt]="heroResult.name"
        [dimensions]="CARD_DIMENSIONS"
      />
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-actions>
    <button (click)="btnAction()" mat-button>Detalhe</button>
  </mat-card-actions>
</mat-card>
