.detail {
  display: flex;
  flex-direction: row;
  gap: 1rem;


  p {
    width: calc(100% - 20rem);
  }
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .movies {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .comics {
    @extend .movies;
  }
}
