<section class="detail">
  <app-img [image]="result.thumbnail | formatImg" [alt]="result.name" />
  <div>
    <h1>{{ result.name }}</h1>
    <p>{{ result.description }}</p>
  </div>
</section>

<mat-divider></mat-divider>

<section class="content">
  <div class="movies">
    <h1>Participação em filmes</h1>
    @for (movie of movies; track $index) {
    <app-img [image]="movie.thumbnail | formatImg" [alt]="movie.title" />

    }

    <app-spinner [show]="spinnerAction"></app-spinner>
  </div>

  <div class="comics">
    <h1>Participação em quadrinhos</h1>
    @for (comic of comics; track $index) {
    <app-img [image]="comic.thumbnail | formatImg" [alt]="comic.title" />

    }
    <app-spinner [show]="spinnerAction"></app-spinner>
  </div>
</section>
